library/
local/
cellar/
lock/
python/
staging/
.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
_site/
*.key
*speaker.html

# Ignore .venv directories in lecs subfolders
lecs/*/.venv/

# Ignore PDF files in lecs subfolders
lecs/*/*.pdf

# Ignore PPTX files in lecs subfolders
lecs/*/*.pptx

# Ignore MD files in lecs subfolders
lecs/*/*.md